[
    {kernel, [
        {error_logger, {file, "log/eunit_kernel.log"}}
    ]},
    {sasl, [
        {sasl_error_logger, {file, "log/eunit_sasl.log"}}
    ]},
    {lager, [
        {handlers, [{lager_file_backend, [{file, "log/eunit_lager.log"}, {level, debug}]}]},
        {error_logger_redirect, true}
    ]},
    {eproc_core, [
        {store, {eproc_store_ets, []}},
        {registry, {eproc_registry_gproc, []}}
    ]}
].

