.eunit/
.rebar/
.ditz-config
.directory
.kateproject
.kateproject.d/
ebin/
logs/
deps/
log/
doc/edoc-info
doc/erlang.png
doc/stylesheet.css
doc/utf8/
*.swp
*.beam
*~
*.kate-swp
ttb_last_config
erl_crash.dump
