%/--------------------------------------------------------------------
%| Copyright 2013-2016 Erisata, UAB (Ltd.)
%|
%| Licensed under the Apache License, Version 2.0 (the "License");
%| you may not use this file except in compliance with the License.
%| You may obtain a copy of the License at
%|
%|     http://www.apache.org/licenses/LICENSE-2.0
%|
%| Unless required by applicable law or agreed to in writing, software
%| distributed under the License is distributed on an "AS IS" BASIS,
%| WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
%| See the License for the specific language governing permissions and
%| limitations under the License.
%\--------------------------------------------------------------------
{erl_opts, [
    debug_info,
    {platform_define, "^[0-9]+", namespaced_types} % Just for the hamcrest library.
]}.
{deps, [
    %%
    %%  Transitive deps.
    %%
    {goldrush,   ".*", {git, "https://github.com/DeadZen/goldrush.git",                 {tag, "0.1.8"}}},       % lager
    {gen_leader, ".*", {git, "https://github.com/garret-smith/gen_leader_revival.git",  {tag, "a12a4e3b3f"}}},  % gproc
    %%
    %%  Main deps.
    %%
    {gproc,         ".*", {git, "https://github.com/uwiger/gproc.git",                   {tag, "0.6"}}},
    {lager,         ".*", {git, "https://github.com/basho/lager.git",                    {tag, "3.2.1"}}},
    {exometer_core, ".*", {git, "https://github.com/Feuerlabs/exometer_core.git",        {tag, "1.4"}}},
    {enomon,        ".*", {git, "git@erisata.lt:erisata/enomon",                         {tag, "1.1.2"}}},
    %%
    %%  Deps for tests.
    %%
    {meck,             ".*", {git, "https://github.com/eproxus/meck.git",                {tag, "0.8.4"}}},
    {hamcrest,         ".*", {git, "https://github.com/hyperthunk/hamcrest-erlang.git",  {tag, "13f9bfb9b2"}}},
    {eunit_formatters, ".*", {git, "https://github.com/seancribbs/eunit_formatters.git", {tag, "v0.3.1"}}},
    {edown,            ".*", {git, "https://github.com/uwiger/edown.git",                {tag, "0.8.1"}}},
    {sync,             ".*", {git, "https://github.com/rustyio/sync.git",                {tag, "ce670127d0"}}}
]}.
{post_hooks, [
    {'get-deps', "cp -vu ${REBAR_DEPS_DIR}/enomon/mibs/ERISATA-MIB.mib ${PWD}/mibs/"},
    {clean, "rm -f ebin/eproc_core.appup"},
    {compile, "sed \"s/{git,/{\\\"`git describe --always --tags`\\\",/\" src/eproc_core.appup.src > ebin/eproc_core.appup"}
]}.
{ct_dir, "itest"}.
{mib_opts, []}.
{mib_first_files, ["mibs/ERISATA-MIB.mib", "mibs/ERISATA-EPROC-MIB.mib"]}.
{eunit_opts, [no_tty, {report, {eunit_progress, [colored]}}]}.
{edoc_opts, [
    {application, ["eproc_core"]},
    {doclet, edown_doclet},
    {subpackages, false},
    {top_level_readme, {"./README.md", "http://github.com/erisata/eproc_core"}}
]}.
