%/--------------------------------------------------------------------
%| Copyright 2013-2014 Erisata, UAB (Ltd.)
%|
%| Licensed under the Apache License, Version 2.0 (the "License");
%| you may not use this file except in compliance with the License.
%| You may obtain a copy of the License at
%|
%|     http://www.apache.org/licenses/LICENSE-2.0
%|
%| Unless required by applicable law or agreed to in writing, software
%| distributed under the License is distributed on an "AS IS" BASIS,
%| WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
%| See the License for the specific language governing permissions and
%| limitations under the License.
%\--------------------------------------------------------------------
{erl_opts, [debug_info, fail_on_warning]}.
{deps, [
    %%
    %%  Transitive deps.
    %%
    {goldrush,   ".*", {git, "https://github.com/DeadZen/goldrush.git", {tag, "879c69874a"}}},                  % lager
    {gen_leader, ".*", {git, "https://github.com/garret-smith/gen_leader_revival.git", {tag, "318e8e5a27"}}},   % gproc
    %%
    %%  Main deps.
    %%
    {gproc, ".*", {git, "https://github.com/uwiger/gproc.git", {tag, "0.2.17"}}},
    {lager, ".*", {git, "https://github.com/basho/lager.git",  {tag, "2.0.1"}}},
    {meck,  ".*", {git, "https://github.com/eproxus/meck.git", {tag, "0.8.1"}}}
]}.
{ct_dir, "itest"}.
